*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  
}
.top-container{
  width: calc(100% - 6.625%);
  margin-left: auto;
}
.container{
  width: 80%;
  margin: auto;
}
li{
  list-style: none;
}
button{
  outline: none;
}
h2{
  font-weight: 600;
  font-size: 50px;
  line-height:60px; text-transform: capitalize;
}
.paragraph-type{
  color: #7E76F9;
  font-size: 20px;
  text-transform: capitalize;
}
.regular-btn{
  background-color: #7E76F9;
  padding: 15px 43px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}
.regular-btn:hover{
  box-shadow: 0 10px 20px rgba(126,118,248,0.16);
  cursor: pointer;
}
.header_nav{
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 16.625%;
  nav{
    ul{
      display: flex;
      width: 336px;
      justify-content: space-between;
      li{
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-weight: 500;
          &:hover,&:active{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
#bg-shape_header{
  width: 54.81%;
  height: auto;
  position: absolute;
  top: -1px;
  right: -4px;
  z-index: -2;
}
.social-media{
  margin: 149px 0 0 109px;
  width: 50%;
  h2{text-transform: uppercase;}
  p{font-weight: 300; text-transform: uppercase; width: 50%; margin: 17px 0 27px 0;}
}
.social-media_icons{
  transform: translateY(-150px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  li{
    margin-bottom: 50px;
    .fa:hover,.fa:active{
      transform: rotate(270deg);
      // transition: transform 2s ease;
      cursor: pointer;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
#mouse{
  transform: translateY(-150px);
  width: 100%;
  display: flex;
  justify-content: center;
  a{
    box-shadow: 0 10px 20px rgba(126,118,248,0.16);
    padding: 10px 10px 10px 10px;
    border-radius: 360px;
    height: 41px;
    background: transparent;
    border: none;
    &:hover{
      img{
        transform: translateY(-10px);
        transition: all 0.25s ease-in-out;
      }
    }
  }
}
#biography{
  margin-top: 30px;
  padding-top: 90px;
  display: flex;
  img{
    width: 40%;
    margin-right: 57.7px;
  }
  .who-we-are{
    position: relative;
    width: 553px;
    h2{
      margin: 6px 0 19px 0;
    }
    img{
      position: absolute;
      top: -114px;
      left: -84px;
      width: 866px;
    }
    button{
      margin-top:37px;
    }
  }
}
div#our-services{
  margin-top: 235px;
  .our-services_p{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Lato' sans-serif;
    font-weight: 400;
  }
  .services-container{
    margin-top: 96.8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 410px);
    grid-column-gap: 89.4px;
    grid-row-gap: 111.8px;
    margin-bottom: 284px;
    .service{
      padding: 0 32.3px 27px 32.3px;
      border-radius: 36px;
      box-shadow: 0 10px 20px rgba(126,118,249,0.1);
      display: flex;
      flex-direction:column-reverse;
      align-items: flex-start;
      &>div{
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
      h4{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin-top: 8px;
      }
      .service-btn{
        padding: 6px 20.5px 7.7px 18px;
        font-size: 12px;
        font-weight: 500;
        float: right;
        margin-top: 35px;
      }
      p{
        font-family: 'Lato' sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-top: 30px;
        height: 131px;
      }
    }
  }
}
div#our-prices{
  background-color: rgba(126,118,249,0.15);
  text-align: center;
  h2{
    margin-bottom: 65px;
  }
  // .carousel-inner{
    //   margin-bottom: 90px;
    // }
  .carousel-item{
    width: 370px;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 0 10px 20px rgba($color: #7E76F9, $alpha: 0.1);
    padding:0 39.4px;
    h3{
      margin: 69px 0 36px 0;
    }
    .carousel-btn{
      border: 1px solid #7E76F9;
      background-color: transparent;
      color: #7E76F9;
      margin: 43px 0 53px 0 ;
    }
    .carousel-btn:hover{
      color: white;
      background-color: #7E76F9;
    }
    p{
      font-size: 16px;
      font-weight: 300;
      font-family: 'Poppins' sans-serif;
    }
  }
  ol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
    li{
      width: 6px;
      height: 6px;
      margin: 0 6px;
      border-radius: 50%;
      border: 1px solid #7E76F9;
      &.active{
        width: 14px;
        height: 14px;
        background-color: #7E76F9;
      }
    }
  }
}
footer{
  height: 110vh;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  .newsletter{
    margin-top: 50px;
    margin-bottom: 300px;
    text-align: center;
    h3{
      margin-bottom: 47px;
    }
    button{
      padding-left: 51px;
      padding-right: 51px;
    }
    input{
      background-color: #F6F7FB;
      border: none;
      width: 430px;
      height: 52px;
      padding: 0 20px;
      margin-right: 26px;
      &::placeholder{
        font-size: 12px;
        font-weight: 400;
        color: #999999;
      }
    }
  }
  .footer-navigations{
    padding: 0 50px;
    .logo-footer{
      h3{
        margin-top: 26px;
      }
    }
    display: flex;
    color: #fff;
    justify-content: space-between;
    .fa-icons_footer{
      display: flex;
      margin-top: 26px;
      li{
        margin-right: 39px;
        cursor: pointer;
      }
    }
    .footers-div{
      h4{
        margin-bottom: 30px;
      }
    }
    .footer_nav{
      ul{
        li{
          margin-bottom: 20px;
          a{
            text-decoration: none;
            color: #fff;
            &:hover,&:active{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  #shape-bold{
    z-index: -100;
    position: absolute;
    bottom: -528.3px;
    left: -11.8px;
    width: 99.37%;
    height: auto;
    transform: rotate(144deg);
  }
  #shape{
    z-index: -200;
    position: absolute;
    bottom: -106.88%;
    left: -922.67px;
    width: 140%;
    height: auto;
    transform: rotate(135deg);
  }
}
