<footer>
  <div class="newsletter">
    <p class="paragraph-type">Newsletter</p>
    <h3>Do you want to get Special News</h3>
    <div><input type="email" placeholder="Drop Your Email"><button class="regular-btn">Subscribe</button></div>
  </div>
  <div class="container" id="footer-navigations">
    <div class="logo-footer">
      <img src="./img/logo.@2x.png" alt="logo">
      <h3>Stay in touch</h3>
      <ul class="fa-icons_footer">
        <li><i class="fa fa-facebook lg" style="font-size: 1em; color:#fff;" aria-hidden="true"></i></li>
        <li><i class="fa fa-google-plus lg" style="font-size: 1em; color:#fff;" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter lg" style="font-size: 1em; color:#fff;"  aria-hidden="true"></i></li>  
        <li><i class="fa fa-instagram lg" style="font-size: 1em; color:#fff;" aria-hidden="true"></i></li>
      </ul>
    </div>
    <nav class="footer_nav">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Office</a></li>
      </ul>
    </nav>
    <div class="hours">
      <h4>Hours</h4>
      <ul>
        <li><p>Monday: <span>9:00 - 18:00</span></p></li>
        <li><p>Tuesday: <span>9:00 - 18:00</span></p></li>
        <li><p>Wednesday: <span>9:00 - 18:00</span></p></li>
        <li><p>Thursday: <span>9:00 - 18:00</span></p></li>
        <li><p>Friday: <span>9:00 - 18:00</span></p></li>
      </ul>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <ul>
        <li><p><span><img src="./img/old-handphone@2x.png" alt="phone"></span> 000-000-0000</p></li>
        <li><p><span><img src="./img/msg.png" alt="message"></span> info@email.com</p></li>
        <li><p><span><img src="./img/maps-and-flags@2x.png" alt="location"></span> New York, US</p></li>
      </ul>
    </div>
  </div>
  <img id="shape-bold" src="../img/Bg Shape bolder.png" alt="">
  <img id="shape" src="../img/Bg Shape@2x.png" alt="">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
</body>
</html>