<footer>
  <div class="newsletter">
    <p class="paragraph-type">Newsletter</p>
    <h3>Do you want to get Special News</h3>
    <div><input type="email" placeholder="Drop Your Email"><button class="regular-btn">Subscribe</button></div>
  </div>
  <div class="container" id="footer-navigations">
    <div class="logo-footer">
      <img src="./img/logo.@2x.png" alt="logo">
      <h3>Stay in touch</h3>
      <ul class="fa-icons_footer">
        <li>fontawesome</li>
        <li>fontawesome</li>
        <li>fontawesome</li>
        <li>fontawesome</li>
      </ul>
    </div>
    <nav class="footer_nav">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Office</a></li>
      </ul>
    </nav>
    <div class="hours">
      <h4>Hours</h4>
      <ul>
        <li><p>Monday:         9:00 - 18:00</p></li>
        <li><p>Tuesday:        9:00 - 18:00</p></li>
        <li><p>Wednesday:  9:00 - 18:00</p></li>
        <li><p>Thursday:       9:00 - 18:00</p></li>
        <li><p>Friday:             9:00 - 18:00</p></li>
      </ul>
    </div>
    <div class="contact">
      <h4>Contact</h4>
      <ul>
        <li><p><span><img src="./img/old-handphone@2x.png" alt="phone"></span> 000-000-0000</p></li>
        <li><p><span><img src="./img/msg.png" alt="message"></span> info@email.com</p></li>
        <li><p><span><img src="./img/maps-and-flags@2x.png" alt="location"></span> New York, US</p></li>
      </ul>
    </div>
  </div>
</footer>
<script src="js/all.js"></script>
</body>
</html>